 {% extends "BlogApp/base.html" %}

 {% load static %}

 
 {% block content%}
 <div><p> </p> </div>

 <section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'BlogApp/img/1.jpg' %}" alt="">
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4" >
          <span class="section-heading-upper">Desastre ecológico: </span>
          <span class="section-heading-upper">“La peor noticia del mundo”: el último año el Amazonas perdió 745 millones de árboles</span>
        </h2>
        <p class="mb-3"> Las quemas y talas en el Amazonas brasileño causaron la pérdida de 745 millones de árboles en en el último año de acuerdo con el cálculo de especialistas, 
          que mencionaron que estos datos no fueron presentados en la cumbre climática COP26.
        </p>
       
      </div>
    </div>
  </div>
</section>
<div><p> </p> </div>

<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Sostentabilidad: </span>
            <span class="section-heading-lower">Uruguay es el ejemplo a seguir, dice ejecutiva del Banco Mundial</span>
          </h2>
          <p class="mb-0">Anna Wellenstein, directora del Grupo de Desarrollo Sostenible para América Latina y el Caribe del Banco Mundial, ha dicho que Uruguay era un ejemplo en el giro de sus producciones hacia un mercado que buscará cumplir con lineamientos ambientales. </p>
        </div>
      </div>
    </div>
  </div>
</section>
    
 <div><p> </p> </div>

 <section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'BlogApp/img/2.jpg' %}" alt="">
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4" >
          <span class="section-heading-upper">Buenas Noticias: </span>
          <span class="section-heading-upper">Se plantan 2.000 árboles en un monte calcinado por el fuego en León</span>
        </h2>
        <p class="mb-3">Un centenar de voluntarios reforesta en la localidad leonesa de Castrocontrigo cuatro hectáreas de bosque arrasadas por las llamas, 
          en una iniciativa impulsada por esta empresa para luchar contra la deforestación
        </p>
       
      </div>
    </div>
  </div>
</section>

<div><p> </p> </div>

<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Actualidad: </span>
            <span class="section-heading-lower">El mercurio tiene consecuencias catastróficas en los pueblos indígenas de Bolivia, dicen expertos de la ONU</span>
          </h2>
          <p class="mb-0">Especialistas de Naciones Unidas enviaron al Gobierno boliviano una “Carta de Denuncias” tras encontrar irregularidades derivadas del uso desautorizado de mercurio que ha traído consigo consecuencias ambientales y de derechos humanos. </p>
        </div>
      </div>
    </div>
  </div>
</section>

<div><p> </p> </div>
<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'BlogApp/img/3.jpg' %}" alt="">
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4" >
          <span class="section-heading-upper">Actualidad: </span>
          <span class="section-heading-upper">Cómo la basura afecta al desarrollo de América Latina</span>
        </h2>
        <p class="mb-3">Un tercio de todos los residuos urbanos generados en América Latina y el Caribe aún terminan en basurales a cielo abierto o en el medio ambiente, una práctica que afecta la salud de sus habitantes y está contaminando los suelos, el agua y el aire. 
          La poca capacidad de reciclaje es otro de los retos que afronta la región.
        </p>
       
      </div>
    </div>
  </div>
</section>
<div><p> </p> </div>

<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Mercosur: </span>
            <span class="section-heading-lower">acuerda crear grupo de negociación para enfrentar el cambio climático </span>
          </h2>
          <p class="mb-0">Uruguay, Argentina, Brasil y Paraguay anunciaron en Glasgow que acordaron la necesidad de crear un grupo de negociación para abordar el cambio climático. </p>
        </div>
      </div>
    </div>
  </div>
</section>

<div><p> </p> </div>

 {% endblock %}